[Unit]
Description=Run Finite agent creation runner

[Timer]
OnBootSec=30s
OnUnitInactiveSec=20s
AccuracySec=1s
Unit=finite-saas-runner.service

[Install]
WantedBy=timers.target
