{
	admin off
	email {$ACME_EMAIL}
}

{$GRAFANA_DOMAIN} {
	encode zstd gzip
	reverse_proxy grafana:3000
}

{$METRICS_DOMAIN} {
	@remote_write {
		method POST
		path /api/v1/write
	}

	handle @remote_write {
		basic_auth argon2id {
			{$METRICS_USERNAME} {$METRICS_PASSWORD_HASH}
		}
		reverse_proxy prometheus:9090
	}

	handle {
		respond "Not found" 404
	}
}
