[Unit]
Description=Finite monitoring blackbox exporter
After=network-online.target
Wants=network-online.target

[Service]
User=finite-monitoring
Group=finite-monitoring
ExecStart=/opt/finite-monitoring/bin/blackbox_exporter --config.file=/etc/finite/monitoring/blackbox.yml --web.listen-address=127.0.0.1:9115
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true

[Install]
WantedBy=multi-user.target
