[Unit]
Description=Finite monitoring Prometheus
After=network-online.target finite-monitoring-blackbox-exporter.service
Wants=network-online.target finite-monitoring-blackbox-exporter.service

[Service]
User=finite-monitoring
Group=finite-monitoring
ExecStart=/opt/finite-monitoring/bin/prometheus --config.file=/etc/finite/monitoring/prometheus.yml --storage.tsdb.path=/var/lib/finite-monitoring/prometheus --storage.tsdb.retention.time=15d --storage.tsdb.retention.size=20GB --web.enable-remote-write-receiver --web.listen-address=127.0.0.1:9090
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ReadWritePaths=/var/lib/finite-monitoring/prometheus

[Install]
WantedBy=multi-user.target
